{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/13.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>About us</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Area Start ###### -->
    <section class="about-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-content mb-100">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <div class="line"></div>
                            <h2>Who We Are?</h2>
                        </div>
                            <p>ALS Capital Limited is a wholly owned Zambian non deposit taking microfinance institution registered and regulated by the Bank of Zambia (“BOZ”). Formed in 1987 as 
                            Anglo Leasing Services Limited by Anglo American Corporation (Central Africa) as a captive leasing company to the Anglo Group in Zambia, the company now offers a broad range of financial services in the microfinance sector. </p>
                            <p>The targeted clientele includes all consumers of financial services in Zambia, including SMEs and employees from private and public companies which include the following:</p>
                            <ul >
                                <li style="color: #838383">Employees from NGOs, audit and law firms;</li>
                                <li style="color: #838383">Civil servants;</li>
                                <li style="color: #838383">Employees forming part of the defence forces in Zambia</li>
                                <li style="color: #838383">Employees from public and private organizations;</li>
                                <li style="color: #838383">SMEs; and</li>
                                <li style="color: #838383">Other retail / consumer customers.</li>
                            </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="about-thumbnail mb-100">
                        <img src="{% static 'img/tab_logo.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ###### -->
    <div style="margin-bottom: 15px; margin-left: 35px; margin-right: 35px;">
        <div class="row">
            <div class="col-md-6">
                <h2>Our Vision</h2>
                <ul>
                    <li style="color: #838383">To be the most sought-after financial services company offering world class products and services, thus becoming the ‘supplier of choice’ to all our potential customers. </li>
                    <li style="color: #838383">To provide our customers with lasting financial solutions that achieves customer satisfaction and spurs them on to contribute to national economic development.</li>
                </ul>
            </div>

            <div class="col-md-6">
                <h2>Our Aim</h2>
            <p>To realise our vision through a combination of aggressively capturing a commanding share of the market and an unrivalled innovative product and service offering. We shall develop strong relationships with all our customers, enabling us to be viewed as indispensable partners, rather than just another financial service provider.</p>
            </div>
        </div>
    </div>
    <!-- ##### Call To Action Start ###### -->
    <section class="cta-area d-flex flex-wrap">
        <!-- Cta Content -->
        <div class="cta-content">
            <!-- Section Heading -->
            <div class="section-heading white">
                <div class="line"></div>
                <p>We are here to lend you a helping hand</p>
                <h2>Our Motto </h2>
            </div>
            <h6 class="mb-0">Delivering long lasting financial solutions</h6>
        </div>
        <!-- Cta Thumbnail -->
        <div class="cta-thumbnail bg-img jarallax" style="background-image: url({% static 'img/als/_BSK3461.jpg' %});"></div>
    </section>
    <!-- ##### Call To Action End ###### -->

    <!-- ##### Call To Action Start ###### -->
    <section class="cta-2-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Cta Content -->
                    <div class="cta-content d-flex flex-wrap align-items-center justify-content-between">
                        <div class="cta-text">
                            <h4>Are you in need of a loan? Get in touch with us.</h4>
                            <p>We will respond to you and have you started on the road to financial stability.</p>
                        </div>
                        <div class="cta-btn">
                            <a href="contact" class="btn credit-btn box-shadow">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call To Action End ###### -->

    <!-- ##### Team Member Area Start ##### -->
    <section class="team-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-100">
                        <div class="line"></div>
                        <p>Take look at</p>
                        <h2>Our team</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-team-member-area mb-100">
                        <div class="team-thumb">
                            <img src="{% static 'img/als/MG - Copy.JPG' %}" alt="">
                        </div>
                        <div class="team-info">
                            <h5>Elizabeth Jayaseelan</h5>
                            <h6>CFO (Acting Managing Director)</h6>
                            <p class="liner">
                                Elizabeth has broad financial accounting, auditing and treasury experience gained from the financial services and FMCG sectors. Elizabeth joined the company in March 2008. She is an associate member of CIMA (UK).
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-team-member-area mb-100">
                        <div class="team-thumb">
                            <img src="{% static 'img/Bwanali.jpeg ' %}" alt="">
                        </div>
                        <div class="team-info">
                            <h5>Mwape Bwanali</h5>
                            <h6>Board Chairman</h6>
                            <p class="liner para_style">
                                Mr Bwanali is a Fellow of the Chartered Association of Certified Accountants (“FCCA”). He holds a Master of Business Administration (“MBA”) degree from Heriot-Watt University, Edinburgh Business School (“EBS”). He is currently a private 
                                business consultant running a consulting firm, Treasfin Limited. He has previously worked in senior positions for over 20 years in banking, finance and accounting emanating from credible private and public institutions including 
                                Zambia National Commercial Bank Plc, Zambia Revenue Authority (“ZRA”), Bank of Zambia (“BOZ”), Zambia Sugar Plc and the then Zambia Industrial and Mining Corporation (“ZIMCO”). Mr Bwanali has a rich work and board experience at local 
                                and international level. He serves on a number of boards including: Centre for Coordination of Agriculture Research and Development in Southern Africa (Ccardesa), Programme Against Malnutrition (“PAM”) and the National Aids Council (“NAC”).
                                He is also a former Chairman for the Board of Trustees for the Zambia State Insurance Pension Fund (“ZSIPTF”) and also served on the Finance and Projects Committee of the National Roads Fund Agency (“NRFA”) Board.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-team-member-area mb-100">
                        <div class="team-thumb">
                            <img src="{% static 'img/IMG_3751.JPG' %}" alt="">
                        </div>
                        <div class="team-info">
                            <h5>Harinda Gunasekera</h5>
                            <h6>Board Member</h6>
                            <p class="liner para_style">
                                Hari is a Sri Lankan Chartered Accountant. He has been resident in Zambia for the past 25 years. Hari joined the ANZ Grindlays Zambia which subsequently became part of the Stanbic Bank Group in 1980. He served in various roles including those 
                                of Head of Finance, Head of Treasury and Head of Asset Finance a position he held until he retired in 2004. He is currently involved in property development, a leading real estate agency and a personal finance advisory services Company. He was 
                                appointed to the Board of ALS Capital on 1st June 2004.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-team-member-area mb-100">
                        <div class="team-thumb">
                            <img src="{% static 'img/Hamuukale.jpeg' %}" alt="">
                        </div>
                        <div class="team-info">
                            <h5>Mr. Maximillian Hamuukale</h5>
                            <h6>Boad Member</h6>
                            <p class="liner para_style">
	                            Max is a Fellow of the Association of Chartered Certified Accountants (“FCCA”) and the Zambia Institute of Chartered Accountants (“FZICA”) with over 15 years of experience in Accounting, Finance and General Management in the energy and mining 
	                            sectors. He holds various certificates in Finance, Management, Leadership, Sales and Marketing, Human Resource Management and Business Negotiating Skills all obtained within the region and overseas. Currently he is working as Chief Financial 
	                            Officer at Spectra Oil Corporation Limited, a position held since 2004. Prior to that, had a five years stint in the then Zambia Consolidated Copper Mines Limited (“ZCCM”) before joining Spectra Oil Corporation Limited in 1997, as Financial 
	                            Accountant, then rose rapidly through the ranks to a position of Finance Manager in 2001.
	                       </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-team-member-area mb-100">
                        <div class="team-thumb">
                            <img src="{% static 'img/Machila.jpeg' %}" alt="">
                        </div>
                        <div class="team-info">
                            <h5>Bradford Machila</h5>
                            <h6>Board Member</h6>
                            <p class="liner para_style">
                                Member of the Law Association of Zambia (“LAZ”), International Bar Association (“IBA”) Legal Practitioners, Master of Laws (“LLM”), Bachelor of Laws (“LLB”). Royal Russell School United Kingdom, Holborn Law School University of London, United Kingdom.
                                Machila was elected Member of Parliament for Kafue Constituency and subsequently appointed Deputy Minister – Ministry of Justice in 2006, appointed Cabinet Minister - Ministry of Lands in 2007, appointed Cabinet Minister - Ministry of Livestock 
                                and Fisheries in 2008. Previously he worked for Zambia National Commercial Bank Plc as Legal Assistant, worked for Chibote Limited as Legal Officer, worked for Meridien Bank Limited as Executive Assistant/Counsel, Haki Chambers as Managing 
                                Director and Partner in Corpus Legal Practitioners.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-team-member-area mb-100">
                        <div class="team-thumb">
                            <img src="{% static 'img/als/avatar.png' %}" alt="">
                        </div>
                        <div class="team-info">
                            <h5>Richard Akitt</h5>
                            <h6>Boad Member</h6>
                            <p class="liner para_style">
                                Richard is a South African trained Chartered Accountant who is currently an active non – executive director of a number of private and AIM listed Isle of Man Companies where he is based. Richard served on the Board of ALS Capital from 2007 to 2020.
                                Since relocating to the Isle of Man in 1990 from South Africa, until his retirement in May 2006, Richard was a founder and senior executive with a Group that develops software applications and provides third party administration services to the 
                                offshore life assurance and finance industries. Richard retired upon the company’s acquisition by a British publicly listed company but remains a Non-Executive Director. Richard has other agricultural and property interests in Zambia.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}