{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="hero-area">
        <div class="hero-slideshow owl-carousel">
            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'img/als/_BSK3378.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Payroll Based Loans</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">get your <span>loan</span> now</h2>
                                <p data-animation="fadeInUp" data-delay="500ms">Obtainable on short term or long-term depending on your needs.</p>
                                <a href="payroll_based" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Read More..</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>
            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'img/als/_BSK3456.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInDown" data-delay="100ms">Corporate Finance</h6>
                                <h2 data-animation="fadeInDown" data-delay="300ms">get your <span>loan</span> now</h2>
                                <p data-animation="fadeInDown" data-delay="500ms">Our payback terms are tailor made to the customers’ loan tenor.</p>
                                <a href="corporate_finance" class="btn credit-btn mt-50" data-animation="fadeInDown" data-delay="700ms">Read More..</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>
            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'img/als/_BSK3372.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Treasury</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">get your <span>loan</span> now</h2>
                                <p data-animation="fadeInUp" data-delay="500ms">Specializes in strategic placement of funds to cater for the investment needs.</p>
                                <a href="treasury" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Read More..</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>
            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'img/als/_BSK3347.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInDown" data-delay="100ms">Retail Based Loans</h6>
                                <h2 data-animation="fadeInDown" data-delay="300ms">get your <span>loan</span> now</h2>
                                <p data-animation="fadeInDown" data-delay="500ms">You get your cash as soon as your loan is approved to make that urgent payment.</p>
                                <a href="retail_based" class="btn credit-btn mt-50" data-animation="fadeInDown" data-delay="700ms">Discover</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>
        </div>
    </div>

    <section class="features-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <div class="line"></div>
                            <p>Take look at our</p>
                            <h2>Our Loans</h2>
                        </div>
                        <h6>We as ALS Capital strive to make sure what you need is available at your disposal. Give us a call and get things going.</h6>
                        <!-- <a href="#" class="btn credit-btn mt-50">Discover</a> -->
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <img src="{% static 'img/als/_BSK3408.jpg' %}" alt="">
                        <h5>We take care of you</h5>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{% static 'img/als/first.jpg' %}" alt="">
                        <h5>Short turn around period</h5>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <img src="{% static 'img/als/_BSK3456.jpg' %}" alt="">
                        <h5>Fast &amp; easy loans</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta-area d-flex flex-wrap">
        <!-- Cta Thumbnail -->
        <div class="cta-thumbnail bg-img jarallax" style="background-image: url({% static 'img/als/_BSK3360.jpg' %});"></div>

        <!-- Cta Content -->
        <div class="cta-content">
            <!-- Section Heading -->
            <div class="section-heading white">
                <div class="line"></div>
                <p>ALS Capital is the only choice you need</p>
                <h2>Helping You Achieve What You Aspire To</h2>
            </div>
            <h6><i>ALS Capital is the only choice you need. Feel free to walk into our offices or get in touch with us via email or phone call and get the loan that you have always needed to sort out an issue.</i></h6>
            <!-- <a href="#" class="btn credit-btn box-shadow btn-2">Read More</a> -->
        </div>
    </section> 

    <section class="cta-2-area wow fadeInUp" data-wow-delay="100ms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Cta Content -->
                    <div class="cta-content d-flex flex-wrap align-items-center justify-content-between">
                        <div class="cta-text">
                            <h4>Are you in need of a loan? Get in touch with us.</h4>
                        </div>
                        <div class="cta-btn">
                            <a href="{% url 'contact' %}" class="btn credit-btn box-shadow">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <div class="line"></div>
                        <p>Take look at our</p>
                        <h2>Our services</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
                        <div class="icon">
                            <i class="icon-profits"></i>
                        </div>
                        <div class="text">
                            <h5>SME Finance</h5>
                            <p>We aim to provide comprehensive services to corporates including, but not limited to, financial and non-financial elements which seeks to meet our client’s immediate and future growth needs. <a href="{% url 'sme-finance' %}">Read More..</a></p>
                        </div>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <div class="icon">
                            <i class="icon-coin"></i>
                        </div>
                        <div class="text">
                            <h5>Payroll Based Loans</h5>
                            <p>Also known as scheme loans, they are personal loans with varying tenors which are administered through a Memorandum of Understanding ("MoU") between ALS Capital and any one particular employer. <a href="{% url 'payroll-based' %}">Read More..</a></p>
                        </div>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="icon">
                            <i class="fa fa-bank"></i>
                        </div>
                        <div class="text">
                            <h5>Retail Based Loans</h5>
                            <p>These are short term loans that are given for upto 3 months at an interest rate of 10% aimed at helping you plug that short term financial need. The amount an applicant will qualify for is determined by 40% of the forced sale value. <a href="{% url 'retail-based' %}">Read More..</a></p>
                        </div>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="text">
                            <h5>Consumer Based Loans</h5>
                            <p>These are non-payroll-based loans that are available to walk in clients whether employed or not. These loans require a client to produce collateral and a DDAC authorization from your respective bank. <a href="{% url 'consumer-based' %}">Read More..</a></p>
                        </div>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <div class="icon">
                            <i class="fa fa-file-text-o "></i>
                        </div>
                        <div class="text">
                            <h5>Purchase Order Loans</h5>
                            <p>This is a working capital financial solution in form of short-term funding given to companies or business owners that need to pay their suppliers for the goods they need to purchase or make an order for their clients or customers. <a href="{% url 'purchase-order' %}">Read More..</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="miscellaneous-area bg-gray section-padding-100-0">
        <div class="container">
            <div class="row align-items-end justify-content-center">

                <!-- Contact Area -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="contact--area mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Section Heading -->
                        <div class="section-heading mb-50">
                            <div class="line"></div>
                            <h2>Get in touch</h2>
                        </div>
                        <!-- Contact Content -->
                        <div class="contact-content">
                            <!-- Single Contact Content -->
                            <div class="single-contact-content d-flex align-items-center">
                                <div class="icon">
                                    <img src="{% static 'img/core-img/location.png' %}" alt="">
                                </div>
                                <div class="text">
                                    <p>Unit B-3 Nexus Centre 8472 Malambo Rd, Lusaka</p>
                                </div>
                            </div>
                            <!-- Single Contact Content -->
                            <div class="single-contact-content d-flex align-items-center">
                                <div class="icon">
                                    <img src="{% static 'img/core-img/call.png' %}" alt="">
                                </div>
                                <div class="text">
                                    <p>+260211 244 336/335</p>
                                    <span>mon-fri , 08.am - 17.pm</span>
                                </div>
                            </div>
                            <!-- Single Contact Content -->
                            <div class="single-contact-content d-flex align-items-center">
                                <div class="icon">
                                    <img src="{% static 'img/core-img/message2.png' %}" alt="">
                                </div>
                                <div class="text">
                                    <p>info@alscapital.co.zm</p>
                                    <span>we reply within 24 hrs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}