{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/21.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>PayRoll Based</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Loan Products</a></li>
                            <li class="breadcrumb-item"><a href="">Micro Loan Facilities</a></li>
                            <li class="breadcrumb-item active" aria-current="page">PayRoll Based Loans </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Post Details Area Start ##### -->
<section class="post-news-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8">
                <div class="post-details-content mb-100">
                    <img src="{% static 'img/als/first.jpg' %}" alt="">
                    <p>Also known as scheme loans, they are personal loans with varying tenors which are administered through a Memorandum of Understanding ("MoU") between ALS Capital and any one particular employer to 
                    meet personal, consumer or commercial expenditures. These include generic, personal, education, motor vehicle, equipment, short term and long-term loans, depending on your need as the customer.</p>

                    <div class="single-widget-area cata-widget">
                        <div class="widget-heading">
                            <div class="line"></div>
                            <h4>Benefits</h4>
                        </div>

                        <ul class="az">
                            <p>1. Allows the employer to concentrate on their core business and ensuring that available financial resources are not tied in non-interest earning assets such as ‘Staff Receivables.</p>
                            <p>2. Longer tenors for cash advances. </p>
                            <p>3. Financial empowerment to the benefiting members of staff . </p>
                            <p>4. Free to access funds in line with their financial plans from time to time.</p>
                            <p>5. The employer doesn’t have to guarantee the employee loans but simply undertakes to collect the repayments from the employee through the payroll. </p>
                            <p>6. The employer exercises control over its employee’s borrowings through the pre-approval form and provides direct input to who has access to a loan and to what extent.</p>
                            <p>7. Top up loans are allowed in the case of an employee with an existing loan, as long as the total exposure falls within the defined debt service ratio of 40 to 45%. </p>
                            <p>8. Access to loans isn’t restricted to certain time brackets . </p>
                            <p>9. Loan processing is expeditiously done. </p>
                            <p>10. No additional security from neither the employee nor the employer. </p>
                        </ul>
                    </div>
                    
                    <section class="services-area section-padding-100-0">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Section Heading -->
                                    <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                                        <div class="line"></div>
                                        <h2>Features of Payroll Based Loans</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Single Service Area -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
                                        <div class="icon">
                                            <i class="icon-profits"></i>
                                        </div>
                                        <div class="text">
                                            <h5>Cash Loan Facility</h5>
                                            <p>You get your cash as soon as your loan is approved to make that urgent payment.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Service Area -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="300ms">
                                        <div class="icon">
                                            <i class="icon-money-1"></i>
                                        </div>
                                        <div class="text">
                                            <h5>Approved</h5>
                                            <p>Your loan is processed, approved and disbursed within 24 hours.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Service Area -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="400ms">
                                        <div class="icon">
                                            <i class="icon-coin"></i>
                                        </div>
                                        <div class="text">
                                            <h5>Flexible Payback</h5>
                                            <p>Our payback terms are tailor made to the customers’ cashflows.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Service Area -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="500ms">
                                        <div class="icon">
                                            <i class="icon-smartphone-1"></i>
                                        </div>
                                        <div class="text">
                                            <h5>No Hidden Deductions</h5>
                                            <p>All deductions are properly documented. No deductions will be made that are not well stipulated.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="services-area section-padding-100-0">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Section Heading -->
                                    <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                                        <div class="line"></div>
                                        <h2>Eligibility</h2>
                                        <p>To qualify for this service, one needs to:</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Single Service Area -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
                                        <div class="icon">
                                            <i class="icon-briefcase-1"></i>
                                        </div>
                                        <div class="text">
                                            <h5>Contract of employment.</h5>
                                            <p>One must present a valid contract of employment or in the alternative an introduction letter from the employer.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Service Area -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="300ms">
                                        <div class="icon">
                                            <i class="icon-invoice"></i>
                                        </div>
                                        <div class="text">
                                            <h5>Latest payslips</h5>
                                            <p>Original latest payslips for three month must be presented when applying for this loan.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Service Area -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="400ms">
                                        <div class="icon">
                                            <i class="icon-bank"></i>
                                        </div>
                                        <div class="text">
                                            <h5>Latest bank statement</h5>
                                            <p>A minimum of one month latest bank statement should be among the documentation being presented on application.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    

                    <hr>
                    <div class="post-a-comment-area mb-100 clearfix">
                    <a href="{% url 'calculator' %}" class="btn credit-btn mt-30">Calculator</a>
                    </div>
                </div>
            </div>
            

            <!-- Sidebar Widget -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="sidebar-area mb-100">
                    <!-- Single Sidebar Widget -->
                    <div class="single-widget-area cata-widget">
                        <div class="widget-heading">
                            <div class="line"></div>
                            <h4>Loan Types</h4>
                        </div>

                        <ul>
                            <li><a href="{% url 'sme-finance' %}">SME Finance</a> </li>
                            <li><a href="{% url 'payroll-based' %}">Payroll Based (<span style="font-size: small; color:gray">Current Page</span>)</a></li>
                            <li><a href="{% url 'retail-based' %}">Retail Based</a></li>
                            <li><a href="{% url 'consumer-based' %}">Consumer Based</a></li>
                            <li><a href="{% url 'purchase-order' %}">Purchase Order</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}